body {
  margin: 0;
}

.logo {
  background-color: burlywood;
  font-size: 3rem;
  margin: 0;
  text-align: center;
  padding: 10px;
}

.form {
  background-color: chocolate;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
}

.list {
  background-color: lightsalmon;
  height: 80vh;
}

.list_heading {
  text-align: center;
  margin: 0;
  padding: 5px;
}

.stats {
  background-color: aquamarine;
  text-align: center;
  padding: 5px;
}
