#calculator {
    width: 260px;
    min-height: 80vh;
    background-color: #000;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 4fr;
} 

#display{
    color: #fff;
    height: 85px;
    margin: 2px;
    background-color: #333;
    border-radius: 10px;
    font-size: 70px;
    text-align: right;
    padding-right: 10px;
}

.btn{
    background-color: #33006F;
    width: 55px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    color: #fff;
}

.btn:last-of-type{
    background-color: #f00;
    width:120px;
    text-align: center;
}

.btn:last-of-type:hover{
    background-color:#f73718
}

.btn:hover{
    background-color: #710193;
}